<section id="seccion-principal" >
    <section id="seccion-imagen" [ngStyle]="{
        'background-size': 'cover',
        'background-image':'url(assets/img/img-instalaciones/pablo.png)'
    }">
    </section>
    <section id="seccion-info">
        <p>Descubre al corazón y alma detrás de nuestra cocina: el jefe de nuestro restaurante.  
            Con una pasión inquebrantable por la gastronomía y un compromiso inigualable con la excelencia, 
            nuestro jefe lidera con creatividad y determinación. Desde la selección cuidadosa de ingredientes 
            frescos hasta la meticulosa atención a cada detalle en el plato servido, su visión y liderazgo son la 
            fuerza impulsora detrás de nuestra experiencia culinaria única. Con una mezcla perfecta de habilidades
             empresariales, conocimiento gastronómico y un toque personal, nuestro jefe se esfuerza por superar expectativas y 
              brindar momentos inolvidables a cada comensal. Únete a nosotros y descubre cómo su  liderazgo transforma cada 
              visita en una experiencia gastronómica excepcional.
        </p>
        <div class="button-container-2">
            <span class="mas">CONÓCENOS MAS</span>
            <button type="button" name="Hover" routerLink="/quien-somos" (click)="scrollTopCabecera()"><input type="submit" name="boton" id="boton" value="CONÓCENOS MAS"></button>
        </div>
    </section>
</section>