<section id="seccion-cuadro" 
    [ngStyle]="{
        'background-size': 'cover',
        'background-image':'url(assets/img/vinos-bn.JPG)'
    }">
    <a [href]="generateWhatsAppLink(phoneNumber)" target="_blank" title="teléfono de whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="tel:979868251" title="teléfono fijo"><i class="fa-solid fa-phone" id="tel"></i></a>
    <a href="https://www.instagram.com/labovedarestaurante?igsh=N3VoNnBqMHdyajg0" target="_blank" title="instagram"><i class="fa-brands fa-instagram"></i></a>
</section>
<section id="seccion-footer">
    <a href="" (click)="scrollTopCabecera()" title="Políticas">POLÍTICAS</a>
    <p>|</p>
    <a href="" (click)="scrollTopCabecera()" title="Avisos Legales">AVISOS LEGALES</a>
    <p>|</p>
    <a routerLink="/contacto" (click)="scrollTopCabecera()" title="Contacto">CONTACTO</a>
</section>