<div id="fondo">
</div>

<div class="background">
    <section class="titulo">
        <img  class="titulo__img" src="/assets/img/carta/entrantes.jpg" alt="">
    </section>

    <section class="titulo">
        <img  class="titulo__img" src="/assets/img/carta/ensaladas.jpg" alt="">
    </section>
    
    <section class="titulo">
        <img  class="titulo__img" src="/assets/img/carta/carnes.jpg" alt="">
    </section>
    
    <section class="titulo">
        <img  class="titulo__img" src="/assets/img/carta/postres.jpg" alt="">
    </section>
</div>

<div class="button-container-2">
    <span class="mas">DESCARGAR CARTA</span>
  <button type="button" name="Hover" (click)="downloadPDF()"><input type="submit" name="boton" id="boton" value="DESCARGAR CARTA"></button>
</div>

