@font-face {
  font-family: 'Neuton';
  src: url('/assets/fuentes/Neuton-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeutonTitle';
  src: url('/assets/fuentes/Neuton-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeutonBoton';
  src: url('/assets/fuentes/Neuton-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Aplica la fuente Neuton a todo el texto */

button{
  font-family: 'NeutonBoton', sans-serif !important;
}

.mas{
  font-family: 'NeutonBoton', sans-serif !important;
}

p{
  font-family: 'Neuton', sans-serif !important;
  font-size: 1.5rem !important;
}

h2{
  font-family: 'NeutonTitle', sans-serif !important;
  font-size: 3rem;
}

.background{
 /* min-height: 100vh;
 // background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;*/
  background-color: black;
}

.titulo{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img{
      width: 50%;
      height: 110%;
      margin-top: 50px;
      @media screen and (max-width: 1200px) {
        width: 60%;
      }

      @media screen and (max-width: 1000px) {
        width: 70%;
      }

      @media screen and (max-width: 800px) {
        width: 80%;
      }

      @media screen and (max-width: 700px) {
        width: 90%;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
}

.platos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.borde{
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 30px;
    width: 80vw;
    background-color: black;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
  
.texto-justificado {
    border-bottom: 1px solid rgba(244,204,123,255);
    padding-bottom: 5px; 
    margin-bottom: 5px;
    color: rgba(244,204,123,255);
}

#fondo{
    margin-top: 100px;
    background-image: url('/assets/img/fondos/carta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
}

/*Inicio boton*/ 
#boton{
    border: none;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
}

.button-container-2 {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
}

.button-container-2 button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}
  
.button-container-2 button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
    color: black;
}

.mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 20px;
    margin-top: 12px;
    overflow: hidden;
}

@-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
}
/*Fin boton*/