<section id="seccion-principal" >
    <section id="seccion-info">
        <p>Las instalaciones de nuestro restaurante La Bóveda son simplemente 
            excepcionales. Desde el momento en que entras por la puerta, te 
            sumerges en un ambiente acogedor y elegante que te invita a disfrutar de una experiencia gastronómica única. Con una
             decoración cuidadosamente diseñada que combina lo moderno con lo tradicional, cada rincón de La Bóveda emana un encanto inigualable.<br><br>

            Nuestro espacio cuenta con amplias zonas de comedor, meticulosamente decoradas para ofrecer tanto intimidad 
            como confort a nuestros comensales. Además, nuestras instalaciones están equipadas con tecnología de vanguardia 
            para garantizar un servicio eficiente y de calidad. Ya sea que estés celebrando una ocasión especial o simplemente
             disfrutando de una comida casual, encontrarás que nuestras instalaciones están diseñadas para satisfacer todas tus necesidades.
        </p>
        <div class="button-container-2">
            <span class="mas">NUESTRAS INSTALACIONES</span>
            <button type="button" name="Hover" routerLink="/galeria-restaurante" (click)="scrollTopCabecera()"><input type="submit" name="boton" id="boton" value="NUESTRAS INSTALACIONES"></button>
        </div>
    </section>
    <section id="seccion-imagen" [ngStyle]="{
        'background-size': 'cover',
        'background-image':'url(assets/img/img-instalaciones/barra3.jpg)'
    }">
    </section>
</section>