# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Angular cache
/.angular/cache

# Lint and build cache
.eslintcache
.stylelintcache

# System Files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*~

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.*
