<div class="animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="login(f)" #f="ngForm" class="c-login login100-form validate-form flex-sb flex-w">

                <img src="adminLocal/assets/images/logo2.png" alt="Logo Bóveda">

                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                <div class="c-login__mail">
                    <input type="email" 
                           name="email" 
                           [(ngModel)]="usuario.email"
                           required
                           email
                           placeholder="Email">

                    <span class="focus-input100"></span>
                </div>
                
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Contraseña incorrecta</span>
                <div class="c-login__pass" data-validate = "Password is required">
                    <input type="password" 
                           name="password"
                           [(ngModel)]="usuario.password" 
                           required
                           minlength="6"
                           placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="button-container-2">
                    <span class="mas">INICIAR SESIÓN</span>
                  <button type="button" name="Hover"><input type="submit" name="boton" id="boton" value="INICIAR SESIÓN"></button>
                </div>

            </form>
        </div>
    </div>
</div>

