<div class="animated fadeInRight">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="c-login login100-form validate-form flex-sb flex-w">
    
                    <img src="/assets/img/logo2.png" alt="Logo Bóveda">
    
                    <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                    <div class="c-login__mail">
                        <input type="email" 
                               name="email" 
                               [(ngModel)]="usuario.email"
                               required
                               email
                               placeholder="Email">
    
                        <span class="focus-input100"></span>
                    </div>

                    <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn">El nombre es obligatorio</span>
                    <div class="c-login__name">
                        <input type="text" 
                               name="nombre" 
                               [(ngModel)]="usuario.nombre"
                               minlength="2" 
                               required
                               placeholder="Nombre">
    
                        <span class="focus-input100"></span>
                    </div>
                    
                    <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">La contraseña debe de tener más de 6 letras</span>
                    <div class="c-login__pass" data-validate = "Password is required">
                        <input type="password" 
                               name="password" 
                               [(ngModel)]="usuario.password"
                               minlength="6"
                               required
                               placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    
                    <div class="c-login__remember flex-sb-m w-full p-t-3 p-b-24">
                        <div class="c-login__remember__rec contact100-form-checkbox">
                            <input [(ngModel)]="recordarme" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Recordar mi usuario
                            </label>
                        </div>
    
                        <div class="c-login__remember__count">
                            <a routerLink="/login" class="txt1">
                                ¿Ya tienes cuenta? / Ingresar
                            </a>
                        </div>
                    </div>
    
                    <div class="button-container-2">
                        <span class="mas">CREAR CUENTA</span>
                      <button type="button" name="Hover"><input type="submit" name="boton" id="boton" value="CREAR CUENTA"></button>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
    
    